<mat-form-field appearance="outline">
  <mat-label>Primary datepicker</mat-label>
  <input matInput [matDatepicker]="primaryPicker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="primaryPicker"></mat-datepicker-toggle>
  <mat-datepicker color="primary" #primaryPicker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Accent datepicker</mat-label>
  <input matInput [matDatepicker]="accentPicker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="accentPicker"></mat-datepicker-toggle>
  <mat-datepicker color="accent" #accentPicker></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Accent datepicker</mat-label>
  <input matInput [matDatepicker]="warnPicker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="warnPicker"></mat-datepicker-toggle>
  <mat-datepicker color="warn" #warnPicker></mat-datepicker>
</mat-form-field>
