<mat-progress-bar mode="determinate" value="40" color="primary"></mat-progress-bar>
<mat-progress-bar mode="determinate" value="40" color="accent"></mat-progress-bar>
<mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
<mat-progress-bar mode="determinate" value="40" color="error"></mat-progress-bar>
<mat-progress-bar mode="determinate" value="40" color="success"></mat-progress-bar>
<mat-progress-bar mode="determinate" value="40" color="special"></mat-progress-bar>

<mat-progress-bar mode="indeterminate" value="40" color="primary"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" value="40" color="accent"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" value="40" color="warn"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" value="40" color="error"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" value="40" color="success"></mat-progress-bar>
<mat-progress-bar mode="indeterminate" value="40" color="special"></mat-progress-bar>

<mat-progress-bar mode="buffer" value="40" color="primary"></mat-progress-bar>
<mat-progress-bar mode="buffer" value="40" color="accent"></mat-progress-bar>
<mat-progress-bar mode="buffer" value="40" color="warn"></mat-progress-bar>
<mat-progress-bar mode="buffer" value="40" color="error"></mat-progress-bar>
<mat-progress-bar mode="buffer" value="40" color="success"></mat-progress-bar>
<mat-progress-bar mode="buffer" value="40" color="special"></mat-progress-bar>

<mat-progress-bar mode="query" value="40" color="primary"></mat-progress-bar>
<mat-progress-bar mode="query" value="40" color="accent"></mat-progress-bar>
<mat-progress-bar mode="query" value="40" color="warn"></mat-progress-bar>
<mat-progress-bar mode="query" value="40" color="error"></mat-progress-bar>
<mat-progress-bar mode="query" value="40" color="success"></mat-progress-bar>
<mat-progress-bar mode="query" value="40" color="special"></mat-progress-bar>
