<div matBadge="1" matBadgeOverlap="false" matBadgeColor="primary">Primary Badge</div>
<div matBadge="1" matBadgeOverlap="false" matBadgeColor="accent">Accent Badge</div>
<div matBadge="1" matBadgeOverlap="false" matBadgeColor="warn">Warn Badge</div>
<div matBadge="1" matBadgeOverlap="false" material-color="error">Warn Badge</div>
<div matBadge="1" matBadgeOverlap="false" material-color="success">Success Badge</div>
<div matBadge="1" matBadgeOverlap="false" material-color="special">Special Badge</div>
