<mat-chip-listbox>
  <mat-chip color="primary" highlighted>Primary</mat-chip>
  <mat-chip color="accent" highlighted>Accent</mat-chip>
  <mat-chip color="warn" highlighted>Warn</mat-chip>
  <mat-chip color="error" highlighted>Error</mat-chip>
  <mat-chip color="success" highlighted>
    Success
    <mat-icon matChipTrailingIcon>light_mode</mat-icon>
  </mat-chip>
  <mat-chip color="special" highlighted>Special</mat-chip>
</mat-chip-listbox>

<mat-chip-listbox>
  <mat-chip-option color="primary" selected>Primary</mat-chip-option>
  <mat-chip-option color="accent" selected>Accent</mat-chip-option>
  <mat-chip-option color="warn" selected>Warn</mat-chip-option>
  <mat-chip-option color="error" selected>
    Error
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-option>
  <mat-chip-option color="success" selected>
    Success
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-option>
  <mat-chip-option color="special" selected>
    Special
    <button matChipRemove>
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-option>
</mat-chip-listbox>
