<div class="row">
  <button mat-button color="primary">Primary (Theme Primary)</button>
  <button mat-button color="accent">Pending (Theme Accent)</button>
  <button mat-button color="warn">Warn (Theme Warn)</button>
  <button mat-button color="error">Error</button>
  <button mat-button color="success">Success</button>
  <button mat-button color="special">
    <mat-icon>auto_awesome</mat-icon>
    Special
  </button>
</div>

<div class="row">
  <button mat-raised-button color="primary">Primary (Theme Primary)</button>
  <button mat-raised-button color="accent">Pending (Theme Accent)</button>
  <button mat-raised-button color="warn">Warn (Theme Warn)</button>
  <button mat-raised-button color="error">Error</button>
  <button mat-raised-button color="success">
    <mat-icon>check_circle_outline</mat-icon>
    Success
    </button>
  <button mat-raised-button color="special">Special</button>
</div>

<div class="row">
  <button mat-stroked-button color="primary">Primary (Theme Primary)</button>
  <button mat-stroked-button color="accent">Pending (Theme Accent)</button>
  <button mat-stroked-button color="warn">Warn (Theme Warn)</button>
  <button mat-stroked-button color="error">Error</button>
  <button mat-stroked-button color="success">Success</button>
  <button mat-stroked-button color="special">
    <mat-icon>savings</mat-icon>
    Special
  </button>
</div>

<div class="row">
  <button mat-flat-button color="primary">Primary (Theme Primary)</button>
  <button mat-flat-button color="accent">Pending (Theme Accent)</button>
  <button mat-flat-button color="warn">Warn (Theme Warn)</button>
  <button mat-flat-button color="error">
    <mat-icon>warning</mat-icon>
    Error
  </button>
  <button mat-flat-button color="success">Success</button>
  <button mat-flat-button color="special">Special</button>
</div>

<div class="row">
  <button mat-icon-button color="primary">
    <mat-icon>view_in_ar</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon>flight_takeoff</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon>generating_tokens</mat-icon>
  </button>
  <button mat-icon-button color="error">
    <mat-icon>flood</mat-icon>
  </button>
  <button mat-icon-button color="success">
    <mat-icon>landslide</mat-icon>
  </button>
  <button mat-icon-button color="special">
    <mat-icon>gesture</mat-icon>
  </button>
</div>
