<mat-selection-list #shoes>
  <mat-list-option selected togglePosition="before" color="primary">Primary selection list item</mat-list-option>
  <mat-list-option selected togglePosition="before" color="accent">Accent selection list item</mat-list-option>
  <mat-list-option selected togglePosition="before" color="warn">Warn selection list item</mat-list-option>
  <mat-list-option selected togglePosition="before" material-color="error">Error selection list item</mat-list-option>
  <mat-list-option selected togglePosition="before" material-color="success">Success selection list item</mat-list-option>
  <mat-list-option selected togglePosition="before" material-color="special">Special selection list item</mat-list-option>
</mat-selection-list>
