<mat-form-field appearance="outline" color="primary">
  <mat-label>Primary Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="outline" color="accent">
  <mat-label>Accent Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="outline" color="warn">
  <mat-label>Warn Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="outline" material-color="error">
  <mat-label>Error Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="outline" material-color="success">
  <mat-label>Success Input</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="outline" material-color="special">
  <mat-label>Special Input</mat-label>
  <input matInput>
</mat-form-field>
